@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.education-list-table {
  text-align: center;
  width: 100%;
  font-size: 90%;
  font-weight: 400;
  border-collapse: collapse;

  th {
    color: $main-color;
    border-top: 1px $light-grey solid;
    border-bottom: 1px $light-grey solid;
    padding: 0.5% 0;
  }

  td {
    color: $grey;
    border-bottom: 1px $light-grey solid;
    padding: 0.5% 5%;
  }
}
