@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.nav-wrapper {
  height: 8%;
  width: 100%;
  z-index: 10;
  background-color: $white-color;
  position: fixed;
  box-shadow: 0 1px 3px $light-grey;

  .left-wrapper {
    width: 30%;
    margin-left: -5%;
    display: inline-block;
    padding-top: 1.5%;
    cursor: pointer;
    p {
      font-weight: 400;
      color: $main-color;
    }
  }

  .right-wrapper {
    display: inline-block;
    padding-top: 1%;
    width: 80%;
    margin-left: -10%;

    .el-button, .el-dropdown {
      padding-left: 2%;
      font-size: 90%;
      font-weight: 400;
      color: $grey;
      @include transition(all .5s);

      &:hover {
        @include transition(all .5s);
        color: $main-color;
      }

      /deep/ .el-icon-caret-bottom:before {
        font-size: 60%;
      }
    }

  }
}

li {
  padding: 2px 10px;
  width: 150px;
  font-size: 14px;
  color: $grey;

  &:hover {
    background-color: $background-color;
    color: $main-color;

    a {
      color: $main-color;
    }
  }
}

.el-dropdown {
  margin-left: 10px;
}

.el-dropdown-menu {
  margin-top: 5px;
  margin-left: 20px;

  a {
    color: $grey;
    text-decoration: none;
  }
}

.el-dropdown-menu__item:not(.is-disabled) {
  @include transition(all .5s);
  &:hover {
    @include transition(all .5s);
    background-color: $background-color;
    color: $main-color;
  }
}
