@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.committee-wrapper {
  display: inline-block;
  margin-top: 3%;
  padding: 4%;
  width: 100%;
  height: auto;
  background-color: #FFF;

  li {
    color: $grey;
    font-size: 90%;
    font-weight: 400;

    span {
      color: $grey;
      font-size: 90%;
      margin-left: 2%;
      font-weight: 300;
    }
  }
}
