@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.train-wrapper {
  display: inline-block;
  margin-top: 3%;
  padding: 2%;
  width: 100%;
  height: auto;
  background-color: #FFF;

  p {
    color: $grey;
    font-size: 90%;
    font-weight: 400;
  }

  a {
    color: $main-color;
    text-decoration: none;
    font-weight: 400;
  }
}
