@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.data-open-wrapper {
  display: inline-block;
  margin-top: 3%;
  padding: 4%;
  width: 100%;
  height: auto;
  background-color: #FFF;

  p {
    color: $grey;
    font-size: 90%;
    font-weight: 400;
  }

  .words-wrapper {
    display: inline-block;
    padding: 0 10%;

    .english {
      font-size: 100%;
      line-height: 30px;
      text-align: justify;
    }
  }

  span {
    color: $main-color;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
}
