@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.header-wrapper {

  padding-bottom: 3%;

  h4 {
    border-left: 5px solid $main-color;
    padding-left: 1%;
    color: $main-color;
    font-size: 100%;
    font-weight: 400;
  }

}
