@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.education-wrapper {
  display: inline-block;
  margin-top: 3%;
  padding: 2%;
  width: 100%;
  height: auto;
  background-color: #FFF;

  p {
    color: $grey;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
  }

  a {
    color: $main-color;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
  }

  .href-span {
    color: $main-color;
    cursor: pointer;
  }
}

.class-table {
  text-align: center;
  margin: 2% auto;
  width: 100%;
  font-size: 90%;
  font-weight: 400;
  border-collapse: collapse;
  color: $grey;

  th {
    border-top: 1px $light-grey solid;
    border-bottom: 1px $light-grey solid;
    padding: 0.5% 1%;
    font-weight: 400;
    @include transition(all .5s);
    cursor: pointer;

    &:hover {
      color: $main-color;
      @include transition(all .5s);
    }
  }

  td {
    border-bottom: 1px $light-grey solid;
    padding: 0.5% 1%;
  }
}
