@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.figure-wrapper {
  margin-top: 3%;
  padding: 24% 0 0 8%;
  width: 100%;
  height: 150%;
  background-size: 100% 100%;
}

.figure-item-wrapper {
  padding: 5%;
  display: inline-block;
  width: 30%;
  text-align: center;
  color: $white-color;

  .title {
    font-size: 100%;
    font-weight: 400;
  }

  .figure {
    font-size: 300%;
    font-weight: 500;
  }
}
