@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.index-wrapper {
  display: inline-block;
  margin-top: 3%;
  padding: 2%;
  width: 100%;
  height: auto;
  background-color: #FFF;

  p {
    color: $grey;
    font-size: 90%;
    font-weight: 400;
    text-align: justify;
  }

  .routine-wrapper {
    padding: 10% 30%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: center;
  }
}
