@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.index-wrapper {
  display: inline-block;
  margin-top: 3%;
  padding: 2%;
  width: 100%;
  height: auto;
  background-color: #FFF;

  p {
    color: $grey;
    font-size: 90%;
    font-weight: 400;
  }

  .routine-wrapper {
    margin: 3% 0 3% -5%;
  }

  .sub-title {
    font-size: 90%;
    font-weight: 400;

    color: $white-color;
    background-color: $main-color;
    padding: 0.2% 2%;
    margin-top: 1%;
    border-radius: 100px;
    //border: 1px $main-color solid;
  }
}
