@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.notice-wrapper {
  display: inline-block;
  margin-top: 3%;
  padding: 4%;
  width: 100%;
  height: auto;
  background-color: #FFF;

  .notice-left-wrapper {
    display: inline-block;
    width: 100%;
  }
}

.more-button {
  margin: 3% 0 0 70%;
  padding: 1% 5%;
  border-radius: 100px;
  background-color: $main-color;
  color: $white-color;
  font-size: 80%;
  vertical-align: middle;
  cursor: pointer;
  @include transition(all, 0.3s);

  &:hover {
    background-color: $sub-color;
    @include transition(all, 0.3s);
  }
}
