@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.photo-wrapper {
  display: inline-block;
  width: 40%;
  margin-left: 8%;
  background-color: #FFF;
}

.el-carousel__item:nth-child(n) {
  position: absolute;
  background-size: 100% 100%;
  background-repeat:no-repeat;
}
