@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.poster-wrapper {
  margin-top: 3%;
  padding: 70% 30%;
  width: 100%;
  background-size: 100% 100%;
}
