@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.single-sub {
  padding: 10px;
  background-color: $white-color;
  cursor: pointer;
  text-align: center;
  height: 250px;
  width: 220px;
  display: inline-block;

  &:hover {

    .name, .intro {
      color: $main-color;
      @include transition(all, 0.3s);
    }
  }

  .img-wrapper {
    @include cover-img();
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;

    width: 60%;
    height: 50%;
  }

  .name {
    font-size: 14px;
    color: $grey;
    margin: 120px 0 5px 0;
    font-weight: 500;
  }

  .intro {
    font-size: 12px;
    color: $grey;
  }
}
