@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.single-sub {
  background-color: $white-color;
  cursor: pointer;
  text-align: center;

  &:hover {
    .intro {
      color: $main-color;
      @include transition(all, 0.3s);
    }

    .name {
      background-color: $main-color;
      color: $white-color;
      @include transition(all, 0.3s);
    }
  }

  .img-wrapper {
    @include cover-img();
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;

    width: 80%;
    height: 60%;
  }

  .name {
    border: 1px $main-color solid;
    border-radius: 100px;
    font-size: 14px;
    background-color: $white-color;
    color: $main-color;
    margin: 5% 18% 5% 18%;
    font-weight: 400;
    @include transition(all, 0.3s);
  }

  .intro {
    font-size: 13px;
    color: $grey;
    @include transition(all, 0.3s);
  }
}
