@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.single-sub {
  background-color: $white-color;
  cursor: pointer;
  text-align: center;

  .single-sub-wrapper {
    border: 1px $main-color solid;
    border-radius: 100px;
    margin: 4% 4%;
    padding: 2% 0;
    @include transition(all, 0.3s);
    background-color: $white-color;
    color: $main-color;

    .name {
      font-size: 20px;
      font-weight: 400;
    }

    .intro {
      font-size: 16px;
      color: $grey;
    }
  }

  &:hover {
    .single-sub-wrapper {
      border: 1px $main-color solid;
      background-color: $main-color;
      color: $white-color;
      border-radius: 100px;
      @include transition(all, 0.3s);

      .intro {
        color: $white-color;
      }
    }
  }

  .img-wrapper {
    @include cover-img();
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;

    width: 80%;
    height: 60%;
  }

}
