@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.single-intro {
  margin-top: 10%;
  padding: 5% 10%;
  background-color: $white-color;
  text-align: center;

  .img-wrapper {
    @include cover-img();
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;

    width: 50%;
    height: 55%;
    padding: 6%;
    border: 10px $main-color solid;
    border-radius: 100px;
  }

  .intro {
    margin-top: 60%;
    font-size: 100%;
    font-weight: 400;
    color: $main-color;
  }
}
