@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.sub-index-wrapper {
  display: inline-block;
  margin-top: 3%;
  padding: 2%;
  width: 100%;
  height: auto;
  background-color: #FFF;

  p {
    color: $grey;
    font-size: 80%;
    font-weight: 400;
  }
}
