@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.banner-wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: left;

  .img-wrapper {
    @include cover-img();
  }

}

.title-wrapper {
  padding: 10% 10%;
  text-shadow: 0 0 10px $grey;

  .main-title {
    font-size: 300%;
    font-weight: 500;
    color: $white-color;
  }

  .sub-title {
    font-size: 210%;
    font-weight: 500;
    color: $white-color;
  }

}
